<!-- Features Section -->
<div class="container space-2">
    <div class="rightmobile text-centre mx-auto col-12 w-md-80">
    <div class="mb-5 space-1 space-2-bottom--lg">
            <h2>Whatever The Prison, We've Got You Covered</h2>
            <p class="lead mb-0">The perfect platform for delivering effective prisoners services in prisons.

            </p>
          </div>
    </div> 
  <!-- Manage Projects -->
  <div class="row justify-content-lg-between align-items-md-center space-2-bottom space-3-bottom--lg col-12">
    <div class="col-md-6 order-md-2 mb-5 mb-md-0">
      <div class="pl-md-4">
        <h3>Reception Prisons</h3>
          <p>Reception prisons will manage remand prisoners and those with a short time to serve. Core's platform will support prisoners through this stressful period by providing the following tools:
          </p>
          <ul>☑ Family Communications (messaging)</ul>
          <ul>☑ Supports Listener Communications</ul>
          <ul>☑ Induction Information</ul>
          <ul>☑ Requests Module</ul>
      </div>
    </div>

    <div class="col-md-6 order-md-1">
      <img class="img-fluid" src="img/reception.jpg" alt="course list">
    </div>
  </div>
  <!-- End Manage Projects -->

  <!-- Monitor Details -->
  <div class="row justify-content-lg-between align-items-md-center space-2-bottom space-3-bottom--lg col-12">
    <div class="col-md-6 mb-5 mb-md-0">
      <div class="pr-md-4">
        <h3>Training Prisons</h3>
        <p>Training Prisons will mainly house longer-term prisoners. Core's platform empowers prisoners to change their outlook, by building resilience, confidence and hope for the future during this extended period. The following tools facilitate this change, and prepare prisoners for resettlement.
        </p>
          <ul>☑ OMiC Planning Tool</ul>
          <ul>☑ Online/Offline Education Platform</ul>
          <ul>☑ Family Communications (messaging)</ul>
          <ul>☑ Life Skills Training</ul>
      </div>
    </div>

    <div class="col-md-6">
      <img class="img-fluid" src="img/training.jpg" alt="SaaS hosting">
    </div>
  </div>
  <!-- End Monitor Details -->

  <!-- Measure Performance -->
  <div class="row justify-content-lg-between align-items-md-center space-3-bottom--lg col-12">
      <div class="col-md-6 order-md-2 mb-5 mb-md-0">
      <div class="pl-md-4">
        <h3>Resettlement Prisons</h3>
        <p>Resettlement prisons prepare people for release into the community. Leaving prison can invoke mixed emotions amongst prisoners. Core's platform eases this transition; transfering responsbility to the prisoner, facilitating community engagement, and providing through-the-gate solutions:
        </p>
        <ul>☑ ROTL app</ul>
        <ul>☑ Calendar/Planner app</ul>
        <ul>☑ Jobs app</ul>
        <ul>☑ Accommodation app</ul>
      </div>
    </div>

    <div class="col-md-6 order-md-1">
      <img class="img-fluid" src="img/resettlement.jpg" alt="SaaS manager">
    </div>
  </div>

  
 

</div>
