<!-- Subscribe Section -->
<div id="signup" class="bg-gray-100 bg-img-hero" style="background-image: url(img/bg/bg2.png);">
<div class="container space-3 space-3-top--lg space-3-bottom--lg col-12">
<div class="row justify-content-md-center align-items-md-center">
<div class="col-md-8 col-lg-5">
             <!-- Signup Form -->
                <div class="bg-white space-3 shadow-sm rounded p-6 ">
                  <form class="js-validate js-form-message mb-3 space-2" form name="signup" method="POST" data-netlify="true">
                    <div class="mb-4 text-center">
                      <h2 class="h2 ">Book A Demo</h2>
                      <p>Complete the form below to book a quick demo of Core's Prison Education.
                        </p>
                    </div>

                    <!-- Input -->
                    <div class="js-focus-state input-group input-group form mb-3">
                      <input class="form-control form__input" type="text" name="name" required
                       placeholder="Your name"
                       aria-label="Your name"
                       data-msg="Please enter your name."
                       data-error-class="u-has-error"
                       data-success-class="u-has-success">
                    </div>
                    <!-- End Input -->

                    <!-- Input -->
                    <div class="js-focus-state input-group input-group form mb-3">
                      <input type="email" class="form-control form__input" name="email" required
                      placeholder="Your email address"
                      aria-label="Your email address"
                      data-msg="Please enter a valid email address."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success">

                    </div>
                    <!-- End Input -->
                    <div class="space-2-bottom--lg">
                    <button type="submit" class="btn btn-block btn-primary">BOOK A DEMO</button>
                  </div>
                  </form>
                </div>
  <!-- End Signup Form -->
</div>
</div>
</div>
</div>
      <!-- End Subscribe Section -->