<!-- Features Section -->
<div class="container space-2">
    <div class="rightmobile text-centre mx-auto col-12 w-md-80">
    <div class="mb-5 space-1 space-2-bottom--lg">
            <h2>Core's Prison Education Platform
            </h2>
            <p class="lead mb-0">The perfect platform for delivering effective digital education in prisons.

            </p>
          </div>
    </div> 
  <!-- Manage Projects -->
  <div class="row justify-content-lg-between align-items-md-center space-2-bottom space-3-bottom--lg col-12">
    <div class="col-md-6 order-md-2 mb-5 mb-md-0">
      <div class="pl-md-4">
        <h3>Offline Education</h3>
          <p>Offline education puts the student in control of their learning. With access to education in cell, students learn at their own pace and utilise their time constructively.
          </p>
      </div>
    </div>

    <div class="col-md-6 order-md-1">
      <img class="img-fluid" src="img/img/courses2.png" alt="course list">
    </div>
  </div>
  <!-- End Manage Projects -->

  <!-- Monitor Details -->
  <div class="row justify-content-lg-between align-items-md-center space-2-bottom space-3-bottom--lg col-12">
    <div class="col-md-6 mb-5 mb-md-0">
      <div class="pr-md-4">
        <h3>Best Choice For Your Needs</h3>
        <p>You can choose the best device to fit your needs. Core Prison Education works on tablets, laptops, and PCs.
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <img class="img-fluid" src="/img/img/lesson-details2.png" alt="SaaS hosting">
    </div>
  </div>
  <!-- End Monitor Details -->

  <!-- Measure Performance -->
  <div class="row justify-content-lg-between align-items-md-center space-3-bottom--lg col-12">
      <div class="col-md-6 order-md-2 mb-5 mb-md-0">
      <div class="pl-md-4">
        <h3>Courses</h3>
        <p>Courses offer students an enriched learning experience, with content delivered in multiple media types, including text, images, and video.
        </p>
      </div>
    </div>

    <div class="col-md-6 order-md-1">
      <img class="img-fluid" src="img/img/course2.png" alt="SaaS manager">
    </div>
  </div>

  
  <!-- End Measure Performance -->

  <!-- Monitor Details -->
  <div class="row justify-content-lg-between align-items-md-center space-2-bottom space-3-bottom--lg col-12">
    <div class="col-md-6 mb-5 mb-md-0">
      <div class="pr-md-4">
        <h3>Coursework
        </h3>
        <p>Whether it’s in the classroom or in cell, students can read documentation, write assignments, edit spreadsheets, and submit coursework in a few simple steps.
          </p>
      </div>
    </div>

    <div class="col-md-6">
      <img class="img-fluid" src="img/img/coursework.png" alt="SaaS hosting">
    </div>
  </div>
  <!-- End Monitor Details -->

  <!-- Measure Performance -->
  <div class="row justify-content-lg-between align-items-md-center space-3-bottom--lg col-12">
      <div class="col-md-6 order-md-2 mb-5 mb-md-0">
      <div class="pl-md-4">
        <h3>Tests</h3>
        <p>Tests are a great motivator and essential for tracking progress. They’re also a crucial mechanism for identifying students who need additional help. </p>
      </div>
    </div>

    <div class="col-md-6 order-md-1">
      <img class="img-fluid" src="img/img/test2.png" alt="SaaS manager">
    </div>
  </div>

  
  <!-- End Measure Performance -->

  <!-- Monitor Details -->
  <div class="row justify-content-lg-between align-items-md-center space-2-bottom space-2-bottom--lg col-12">
    <div class="col-md-6 mb-5 mb-md-0">
      <div class="pr-md-4">
        <h3>Communications
        </h3>
        <p>Our communication tool enables one to one support. Students can ask their teacher a question when they get stuck.
          </p>
      </div>
    </div>

    <div class="col-md-6">
      <img class="img-fluid" src="img/img/messaging.png" alt="SaaS hosting">
    </div>
  </div>
  <!-- End Monitor Details -->

</div>
