<!-- Testimonials Section -->

<div class="container">
  <div class="row">
      <div class="col-sm-4 mb-7 mb-sm-0">
          <!-- Icon Block -->
          <div class="pr-lg-4">
              <img class="max-width-10 mb-2" src="img/svg/shapes/offender.svg" alt="Image Description">
              <h4>Students</h4>
            <p>Core Education helps students gain essential skills and qualifications to prepare for life after prison.</p>
          </div>
          <!-- End Icon Block --> 
        </div>

    <div class="col-sm-4 mb-7 mb-sm-9">
      <!-- Icon Block -->
      <div class="pr-lg-4">
        <img class="max-width-10 mb-2" src="img/svg/shapes/staff.svg" alt="Image Description">
        <h4>Prison Staff</h4>
      <p>Core Education helps prison staff improve their knowledge and skills to perform their role effectively.</p>
    </div>
      <!-- End Icon Block -->
    </div>
  
    <div class="col-sm-4 mb-7 mb-sm-9">
      <!-- Icon Block -->
      <div class="pr-lg-4">
        <img class="max-width-10 mb-2" src="img/svg/shapes/teacher.svg" alt="Image Description">
        <h4>Teachers</h4>
      <p>Teachers love the new, simple interface, which helps them deliver learning more effectively.</p>
    </div>
      <!-- End Icon Block -->
    </div>
  </div>

  </div>
</div>
