<header class="u-header u-header--left-aligned-nav u-header--sticky-top">
    <div class="u-header__section">
      <div id="logoAndNav" class="container">
          <div class="js-scrollbar-header u-header--sticky__inner">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar">
          <!-- Logo -->
          <div class="u-header__navbar-brand-wrapper">
            <a class="navbar-brand u-header__navbar-brand" href="/" aria-label="Space">
              <img class="u-header__navbar-brand-default" src="img/logo/core.png" alt="Logo">
              <img class="u-header__navbar-brand-mobile" src="img/logo/core.png" alt="Logo">
            </a>
          </div>
          <!-- End Logo -->

      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->
  