<!-- Expanded sections -->
<div class="steps landing__section">
		<div class="container center">
			<h1>Prison Education Toolkit</h1>
			<p class="lead">The perfect toolkit for delivering effective digital education in prisons. </p>
		</div>

		{{ range.Params.single }}

	<div class="expanded container">
		<div class="expanded__inner">
			<div class="expanded__media"><img src="{{.src}}" alt="{{.alt}}" class="expanded__image" /></div>
			<div class="expanded__content left-align">
				<h2 class="expanded__title">{{ .title | markdownify }}</h2>
				<p class="expanded__text">{{ .text | markdownify }}</p>
			</div>
		</div>
	</div>
</div>


{{ end }}
