{{ partial "header.html" . }}

{{ partial "video-navigation.html" . }}

<div class="bg-gray-100">

    <div class="container text-center space-1 space-4-top space-2-bottom--lg">
        <!-- Video Section -->
<div class="container">
  <div class="row justify-content-sm-center text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HLpigMBSf38" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<!-- End Video Section -->

{{ partial "cta"}}


